.Image {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Text {
    flex: 1;
}

.ButtonBox {
    
}