.Container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

.Modal {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;

	&,
	> div {
		max-height: 60vh;
		max-width: 80vw;
	}

	> div {
		overflow: auto;
	}
}

.ModalButton {
	position: absolute;
	top: -30px;
	right: -30px;
}

.Backdrop {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(black, .4);
}